* {
  margin: 0;
  padding: 0;
  font-family: TheMixArabic;
}

@font-face {
  font-family: TheMixArabic;
  src: url(../../font/TheMixArabic/ArbFonts.com-\(4\)/ArbFONTS-TheMixArab-Regular.ttf) format(".ttf");
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
}

.ORG {
  color: #EE8122;
}

.rel {
  position: relative;
}

.rot {
  transform: rotate(270deg);
  display: inline-block;
}

.card-row {
  display: flex;
  margin-bottom: 42px;
}

.container {
  width: 1070px;
  margin: 0 auto;
}

.Depcard {
  margin-left: 50px;
  margin-top: 65px;
}

.topMenu {
  margin: 0;
  padding: 0;
  height: 90px;
  background-color: #F9F9FB;
  width: 95%;
  direction: rtl;
  font-size: 18px;
  font-weight: bold;
  color: #16151A;
}
.topMenu__text {
  margin-left: 10px;
}

.btn {
  width: 150px;
  text-decoration: none;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  margin-right: 5%;
  border: 1px solid rgba(207, 207, 207, 0.7725490196);
  border-radius: 25px;
  padding: 2% 1%;
}
.btn--rounded {
  position: relative;
  color: #242424;
}
.btn--rounded--sucess {
  background-color: #510B76;
  color: rgb(255, 255, 255);
  border: none;
}

.side-menu {
  width: 7%;
  height: 100vh;
  background-color: #3C0857;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.side-menu--img {
  width: 40px;
  height: 35px;
}
.side-menu--text {
  font-size: 16px;
  font-weight: 500;
  transform: rotate(270deg);
  margin-top: 100px;
  margin-bottom: 90px;
}
.side-menu--text-light {
  color: #A9AFC3;
  font-size: 12px;
  transform: rotate(270deg);
  margin-top: 70px;
}
.side-menu--line {
  position: absolute;
  left: 50%;
  top: 85%;
  width: 1px;
  height: 55px;
  background-color: #EE8122;
}

.image-slider {
  width: 93%;
  height: 85vh;
}

.WhyInvestment {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../../Images/SecondSection_bg.png);
  background-color: #510B76;
  background-size: 45%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-align: right;
  padding-top: 13%;
}
.WhyInvestment-left-section {
  direction: rtl;
}
.WhyInvestment-right-section {
  padding-right: 15%;
  padding-top: 1%;
}
.WhyInvestment-right-section p {
  font-size: 12px;
  display: inline;
}
.WhyInvestment-right-section h6 {
  font-size: 40px;
  font-weight: bold;
  margin: 5% 0;
}
.WhyInvestment-right-section span {
  margin-left: 20%;
  margin-top: 15%;
  font-size: 14px;
}
.WhyInvestment-right-section a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 10px;
}
.WhyInvestment-right-section-info {
  position: absolute;
  right: 15%;
  padding-bottom: 5px;
  width: 70px;
  border-bottom: 0.5px solid rgb(255, 255, 255);
}
.WhyInvestment-right-section-watch {
  margin-top: 15%;
  margin-right: 5%;
  direction: rtl;
}
.WhyInvestment-right-section-watch--playV {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #EE8122;
  box-shadow: 5px;
  text-align: center;
  display: inline-block;
}
.WhyInvestment-right-section-watch--playV i {
  margin: auto;
  font-size: 10px;
}
.WhyInvestment-right-section-watch img {
  width: 65%;
  height: 15%;
}

.InvestCard {
  width: 170px;
  height: 170px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding-top: 5%;
  text-align: center;
}
.InvestCard-secondCard {
  position: absolute;
  right: 190px;
  top: 40px;
}
.InvestCard-iconDiv {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 15px;
  background-color: #FAF9F9;
}
.InvestCard-iconDiv i {
  color: #EE8122;
  font-size: 18px;
  margin: 30% 30%;
}
.InvestCard h5 {
  font-weight: 600;
  color: #242424;
  margin-top: 15px;
}

.awardsSection {
  width: 100%;
  height: 60vh;
  text-align: center;
  background-color: rgb(255, 255, 255);
  direction: rtl;
  padding-top: 3%;
}
.awardsSection-line {
  display: inline-block;
  margin: auto;
  height: 1px;
  width: 50px;
  background-color: #A9AFC3;
}
.awardsSection span {
  color: #A9AFC3;
  font-size: 16px;
}
.awardsSection h6 {
  margin: 1% 0;
  font-size: 50px;
  font-weight: bold;
}
.awardsSection p {
  font-size: 18px;
  color: #6c6b80;
  margin: 2% 0;
}
.awardsSection img {
  height: 50px;
  width: 60px;
  margin: 0 10px;
}

.market-section {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: url(../../Images/marketSectionbg.png);
  background-color: #20042f;
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}
.market-section-left {
  direction: rtl;
  text-align: right;
  padding-top: 5%;
  padding-right: 5%;
  color: rgb(255, 255, 255);
}
.market-section-left p {
  font-size: 14px;
  display: inline-block;
}
.market-section-left-line {
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 5px;
}
.market-section-left h6 {
  font-size: 50px;
  font-weight: bold;
  margin-left: 30%;
}
.market-section-left span {
  font-size: 28px;
  font-weight: 500;
  display: block;
}
.market-section-left img {
  width: 35px;
  height: 25px;
  margin-left: 3px;
}
.market-section-left-btn {
  width: 200px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
  text-decoration: none;
  background: #3C0857;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
  padding: 1% 7%;
  direction: rtl;
}
.market-section-left-btn p {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.market-section-btn {
  height: 70px;
  width: 190px;
  position: absolute;
  bottom: 22%;
  left: 49%;
  background-image: linear-gradient(to left, #2f163e, #452d51, #533e5e);
  border-radius: 10px;
  border: 1px solid;
}
.market-section-row {
  direction: rtl;
  margin-top: 7px;
  margin-right: 20px;
}
.market-section-row p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  display: inline;
}
.market-section-dot {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: #4e8af4;
  margin-left: 5px;
  display: inline-block;
}
.market-section-dot2 {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: #EE8122;
  margin-left: 5px;
  display: inline-block;
}

.investFund {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.investFund-left {
  position: relative;
  text-align: right;
  direction: rtl;
  padding-top: 5%;
  padding-right: 2%;
}
.investFund-left h6 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}
.investFund-left p {
  font-size: 14px;
  font-weight: 500;
}
.investFund-left h5 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 5%;
  margin-right: 10px;
}
.investFund-left-divlight {
  position: absolute;
  bottom: 10px;
  background: rgb(255, 255, 255);
  opacity: 0.97;
  z-index: 1;
  width: 250px;
  height: 150px;
}
.investFund-left-print {
  width: 320px;
  height: 200px;
  margin-top: 20px;
}
.investFund-left-text {
  margin-top: 45%;
  margin-right: 2px;
  font-size: 16px;
  font-weight: 500;
}
.investFund-left-play {
  width: 50px;
  height: 50px;
  display: inline;
  position: absolute;
  top: 60%;
  right: 52%;
}
.investFund-right {
  position: relative;
  background-color: #510B76;
  text-align: right;
  direction: rtl;
  color: rgb(255, 255, 255);
  padding-right: 15%;
  padding-top: 3%;
}
.investFund-right-side {
  height: 100vh;
  width: 80px;
  background-color: #3C0857;
  position: absolute;
  top: 0;
  right: 0;
}
.investFund-right p {
  font-size: 14px;
  display: inline-block;
}
.investFund-right-line {
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 5px;
}
.investFund-right h6 {
  font-size: 44px;
  font-weight: bold;
}
.investFund-right-list {
  width: 480px;
  height: 60px;
  border-radius: 7px;
  padding-top: 2%;
  padding-right: 3%;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.investFund-right-list-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #743c91;
  display: inline-block;
}
.investFund-right-list span {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 5px;
}
.investFund-right-list i {
  color: #242424;
  margin-top: 10px;
  margin-right: 10px;
}
.investFund-right-list.active {
  background-color: rgb(255, 255, 255);
  color: #743c91;
}/*# sourceMappingURL=main.css.map */