@font-face {
  font-family: "TheMixArabic";
  src: url(../../font/TheMixArabic/TheMixArabic-Light.eot);
  src: url(../../font/TheMixArabic/TheMixArabic-Light.woff) format(".woff"), url(../../font/TheMixArabic/TheMixArabic-Light.otf) format(".opentype"), url(../../font/TheMixArabic/TheMixArabic-Light.svg) format(".svg");
}
@font-face {
  font-family: "TheMixArabic";
  src: url(../../font/TheMixArabic/TheMixArabic-Bold.eot);
  src: url(../../font/TheMixArabic/TheMixArabic-Bold.woff) format(".woff"), url(../../font/TheMixArabic/TheMixArabic-Bold.otf) format(".opentype"), url(../../font/TheMixArabic/TheMixArabic-Bold.svg) format(".svg");
  font-weight: bold;
}
* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgb(255, 255, 255);
}

.ORG {
  color: #EE8122;
}

.rel {
  position: relative;
}

.rot {
  transform: rotate(270deg);
  display: inline-block;
}

.card-row {
  display: flex;
  margin-bottom: 42px;
}

.container {
  width: 1070px;
  margin: 0 auto;
}

.Depcard {
  margin-left: 50px;
  margin-top: 65px;
}

.topMenu {
  margin: 0;
  padding: 0;
  height: 90px;
  background-color: #F9F9FB;
  width: 95%;
  direction: rtl;
  font-size: 18px;
  font-weight: bold;
  color: #16151A;
}
.topMenu__text {
  margin-left: 10px;
}

.btn {
  width: 150px;
  text-decoration: none;
  background: transparent;
  font-weight: 500;
  font-size: 14px;
  margin-right: 5%;
  border: 1px solid rgba(207, 207, 207, 0.7725490196);
  border-radius: 25px;
  padding: 2% 1%;
}
.btn--rounded {
  position: relative;
  color: #242424;
}
.btn--rounded--sucess {
  background-color: #510B76;
  color: rgb(255, 255, 255);
  border: none;
}

.side-menu {
  width: 7%;
  height: 100%;
  background-color: #3C0857;
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 50px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  padding-bottom: 45%;
}
.side-menu--img {
  width: 40px;
  height: 35px;
}
.side-menu--text {
  font-size: 16px;
  font-weight: 500;
  transform: rotate(270deg);
  margin-top: 100px;
  margin-bottom: 90px;
}
.side-menu--text-light {
  color: #A9AFC3;
  font-size: 12px;
  transform: rotate(270deg);
  margin-top: 70px;
}
.side-menu--line {
  position: absolute;
  left: 50%;
  top: 80%;
  width: 1px;
  height: 55px;
  background-color: #EE8122;
}

.image-slider {
  width: 93%;
  height: 520px;
}

.WhyInvestment {
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  background: url(../Images/SecondSection_bg.png);
  background-color: #510B76;
  background-size: 45%;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  text-align: right;
  padding-top: 13%;
}
.WhyInvestment-left-section {
  direction: rtl;
}
.WhyInvestment-right-section {
  padding-right: 15%;
  padding-top: 1%;
}
.WhyInvestment-right-section p {
  font-size: 12px;
  display: inline;
}
.WhyInvestment-right-section h6 {
  font-size: 40px;
  font-weight: bold;
  margin: 5% 0;
}
.WhyInvestment-right-section span {
  margin-left: 20%;
  margin-top: 15%;
  font-size: 14px;
}
.WhyInvestment-right-section a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 10px;
}
.WhyInvestment-right-section-info {
  position: absolute;
  right: 15%;
  padding-bottom: 5px;
  width: 70px;
  border-bottom: 0.5px solid rgb(255, 255, 255);
}
.WhyInvestment-right-section-watch {
  margin-top: 15%;
  margin-right: 5%;
  direction: rtl;
}
.WhyInvestment-right-section-watch--playV {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #EE8122;
  box-shadow: 5px;
  text-align: center;
  display: inline-block;
}
.WhyInvestment-right-section-watch--playV i {
  margin: auto;
  font-size: 10px;
}
.WhyInvestment-right-section-watch img {
  width: 65%;
  height: 15%;
}

.InvestCard {
  width: 170px;
  height: 170px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  padding-top: 5%;
  text-align: center;
}
.InvestCard-secondCard {
  position: absolute;
  right: 190px;
  top: 40px;
}
.InvestCard-iconDiv {
  width: 50px;
  height: 50px;
  margin: auto;
  border-radius: 15px;
  background-color: #FAF9F9;
}
.InvestCard-iconDiv i {
  color: #EE8122;
  font-size: 18px;
  margin: 30% 30%;
}
.InvestCard h5 {
  font-weight: 600;
  color: #242424;
  margin-top: 15px;
}

.awardsSection {
  width: 100%;
  height: 60%;
  text-align: center;
  background-color: rgb(255, 255, 255);
  direction: rtl;
  padding-top: 3%;
  padding-bottom: 10%;
}
.awardsSection-line {
  display: inline-block;
  margin: auto;
  height: 1px;
  width: 50px;
  background-color: #A9AFC3;
}
.awardsSection span {
  color: #A9AFC3;
  font-size: 16px;
}
.awardsSection h6 {
  margin: 1% 0;
  font-size: 50px;
  font-weight: bold;
}
.awardsSection p {
  font-size: 18px;
  color: #6c6b80;
  margin: 2% 0;
}
.awardsSection img {
  height: 50px;
  width: 60px;
  margin: 0 10px;
}

.market-section {
  position: relative;
  margin: 0;
  width: 100%;
  height: 100%;
  background: url(../Images/marketSectionbg.png);
  background-color: #20042f;
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  padding-bottom: 7%;
}
.market-section-left {
  direction: rtl;
  text-align: right;
  padding-top: 5%;
  padding-right: 5%;
  color: rgb(255, 255, 255);
}
.market-section-left p {
  font-size: 14px;
  display: inline-block;
}
.market-section-left-line {
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 5px;
}
.market-section-left h6 {
  font-size: 50px;
  font-weight: bold;
  margin-left: 30%;
}
.market-section-left span {
  font-size: 28px;
  font-weight: 500;
  display: block;
}
.market-section-left img {
  width: 35px;
  height: 25px;
  margin-left: 3px;
}
.market-section-left-btn {
  width: 200px;
  display: inline-block;
  margin-top: 20px;
  margin-left: 5px;
  text-decoration: none;
  background: #3C0857;
  font-weight: 500;
  font-size: 14px;
  border-radius: 25px;
  padding: 1% 7%;
  direction: rtl;
}
.market-section-left-btn p {
  display: inline;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.market-section-btn {
  height: 70px;
  width: 190px;
  position: absolute;
  bottom: 22%;
  left: 49%;
  background-image: linear-gradient(to left, #2f163e, #452d51, #533e5e);
  border-radius: 10px;
  border: 1px solid;
}
.market-section-row {
  direction: rtl;
  margin-top: 7px;
  margin-right: 20px;
}
.market-section-row p {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  display: inline;
}
.market-section-dot {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: #351855;
  margin-left: 5px;
  display: inline-block;
}
.market-section-dot2 {
  height: 15px;
  width: 15px;
  border-radius: 7.5px;
  background-color: #EE8122;
  margin-left: 5px;
  display: inline-block;
}

.investFund {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.investFund-left {
  position: relative;
  text-align: right;
  direction: rtl;
  padding-top: 5%;
  padding-right: 2%;
}
.investFund-left h6 {
  font-size: 34px;
  font-weight: 500;
  margin-bottom: 20px;
}
.investFund-left p {
  font-size: 14px;
  font-weight: 500;
}
.investFund-left h5 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 5%;
  margin-right: 10px;
}
.investFund-left-divlight {
  position: absolute;
  bottom: 10px;
  background: rgb(255, 255, 255);
  opacity: 0.97;
  z-index: 1;
  width: 315px;
  height: 150px;
}
.investFund-left-print {
  width: 320px;
  height: 200px;
  margin-top: 20px;
}
.investFund-left-text {
  margin-top: 45%;
  margin-right: 2px;
  font-size: 16px;
  font-weight: 500;
}
.investFund-left-play {
  width: 50px;
  height: 50px;
  display: inline;
  position: absolute;
  top: 60%;
  right: 52%;
}
.investFund-right {
  position: relative;
  background-color: #510B76;
  text-align: right;
  direction: rtl;
  color: rgb(255, 255, 255);
  padding-right: 15%;
  padding-top: 3%;
}
.investFund-right-side {
  height: 100%;
  width: 80px;
  background-color: #3C0857;
  position: absolute;
  top: 0;
  right: 0;
}
.investFund-right p {
  font-size: 14px;
  display: inline-block;
}
.investFund-right-line {
  display: inline-block;
  height: 1px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  margin-bottom: 5px;
}
.investFund-right h6 {
  font-size: 44px;
  font-weight: bold;
}
.investFund-right-list {
  width: 480px;
  height: 60px;
  border-radius: 7px;
  padding-top: 2%;
  padding-right: 3%;
  color: rgb(255, 255, 255);
  margin-top: 10px;
}
.investFund-right-list-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #743c91;
  display: inline-block;
}
.investFund-right-list span {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 10px;
  margin-left: 5px;
}
.investFund-right-list i {
  color: #242424;
  margin-top: 10px;
  margin-right: 10px;
}
.investFund-right-list.active {
  background-color: rgb(255, 255, 255);
  color: #743c91;
}

.derayahSmart {
  width: 100%;
  height: 100%;
  background: url(../Images/derayahSmartSecbg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  direction: rtl;
  position: relative;
  padding-bottom: 15%;
}
.derayahSmart-rightDivCover {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255), #502269);
  opacity: 0.01;
}
.derayahSmart-rightDiv {
  width: 50%;
  height: 100%;
  color: rgb(255, 255, 255);
  padding-top: 10%;
  padding-right: 10%;
}
.derayahSmart-rightDiv p {
  font-size: 16px;
  display: inline-block;
}
.derayahSmart-rightDiv h5 {
  font-size: 62px;
  font-weight: bold;
}
.derayahSmart-rightDiv span {
  font-size: 18px;
}
.derayahSmart-rightDiv-line {
  width: 50px;
  height: 1px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin-right: 15px;
}
.derayahSmart-rightDiv-readMore {
  margin-top: 50px;
  width: 100px;
  border-bottom: 1px solid rgb(255, 255, 255);
}
.derayahSmart-btnPlay {
  width: 60px;
  height: 60px;
  position: absolute;
  z-index: 1;
  margin-top: 24%;
  margin-right: 47%;
  border-radius: 30px;
  background-color: #EE8122;
  box-shadow: 0 0 0 5px #8b5f44;
}
.derayahSmart-btnPlay i {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-top: 30%;
}

.derayahServices {
  width: 100%;
  height: 185%;
  background-color: #f9f6fd;
  text-align: center;
  direction: rtl;
  position: relative;
  padding-top: 5%;
  padding-bottom: 3%;
}
.derayahServices-sideDiv {
  width: 7%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3C0857;
}
.derayahServices-line {
  height: 1px;
  width: 50px;
  background-color: #A9AFC3;
  margin: 5px 10px;
  display: inline-block;
}
.derayahServices p {
  color: #A9AFC3;
  font-size: 16px;
  display: inline-block;
}
.derayahServices h1 {
  font-size: 48px;
  font-weight: bold;
}
.derayahServices h6 {
  font-size: 18px;
  color: #6c6b80;
  margin-top: 5px;
  margin-bottom: 40px;
}
.derayahServices-FDiv {
  width: 470px;
  height: 230px;
  border-radius: 30px;
  margin: auto;
  margin-bottom: 40px;
  position: relative;
}
.derayahServices-FDiv-bg1 {
  background-color: #ededf4;
}
.derayahServices-FDiv-bg2 {
  background-color: #EEF5FA;
}
.derayahServices-FDiv-bg3 {
  background-color: #EFEDEB;
}
.derayahServices-FDiv-left {
  text-align: right;
  position: absolute;
  top: 10%;
  left: -25%;
}
.derayahServices-FDiv-left h1 {
  font-weight: bold;
  font-size: 32px;
  color: #351855;
  width: 250px;
}
.derayahServices-FDiv-left h5 {
  font-size: 12px;
  color: #200A37;
  width: 250px;
}
.derayahServices-FDiv-left p {
  font-size: 15px;
  color: #510B76;
}
.derayahServices-FDiv-left-chart {
  width: 180px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.derayahServices-FDiv-left-chart img {
  width: 80%;
  margin-right: 10%;
  margin-top: 3%;
}
.derayahServices-FDiv-left-chart3 {
  width: 210px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 0;
  left: 0;
}
.derayahServices-FDiv-left-chart3 img {
  width: 98%;
  height: 80%;
  margin-top: 5%;
  margin-right: 1%;
}
.derayahServices-FDiv-left-chartWave {
  width: 200px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 12%;
  position: absolute;
  top: 130px;
  left: 20%;
}
.derayahServices-FDiv-left-chartWave img {
  width: 170px;
  height: 40px;
  margin-top: 5px;
  margin-right: 10px;
}
.derayahServices-FDiv-left-chartLine {
  width: 150px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 20%;
  position: absolute;
  top: 130px;
  left: 7%;
}
.derayahServices-FDiv-left-chartLine img {
  width: 130px;
  height: 40px;
  margin: 10px 3px;
}
.derayahServices-FDiv-left-dots {
  width: 70px;
  height: 45px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  position: absolute;
  top: 130px;
  left: 75%;
}
.derayahServices-FDiv-left-dots img {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-right: 10%;
}
.derayahServices-FDiv-left-exportDiv {
  width: 70px;
  height: 70px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 40px;
  left: 80%;
}
.derayahServices-FDiv-left-exportDiv img {
  width: 80%;
  margin-top: 10%;
  margin-right: 10%;
}
.derayahServices-FDiv-left-dollarSign {
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  margin-top: 20%;
}
.derayahServices-FDiv-left-dollarSign i {
  color: #510B76;
  margin-top: 15px;
}
.derayahServices-FDiv-right {
  text-align: right;
  position: absolute;
  top: 15%;
  right: -15%;
}
.derayahServices-FDiv-right h1 {
  font-weight: bold;
  font-size: 32px;
  color: #351855;
}
.derayahServices-FDiv-right h5 {
  font-size: 12px;
  color: #200A37;
  width: 250px;
}
.derayahServices-FDiv-right p {
  font-size: 15px;
  color: #510B76;
}
.derayahServices-FDiv-right-chart {
  width: 180px;
  height: 110px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  position: absolute;
  top: 60px;
  right: 0;
}
.derayahServices-FDiv-right-chart img {
  width: 90%;
  margin-right: 5%;
  margin-top: 3%;
}
.derayahServices-FDiv-right-Div2 {
  width: 75px;
  height: 70px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: -15px;
  right: 10%;
}
.derayahServices-FDiv-right-Div2 img {
  width: 80%;
  height: 80%;
  margin-top: 10%;
  margin-right: 10%;
}
.derayahServices-FDiv-right-progress1 {
  width: 120px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  position: absolute;
  top: 0;
  right: 55%;
}
.derayahServices-FDiv-right-progress1 p {
  font-size: 9px;
  color: #0096C7;
  display: inline;
  margin-right: 3px;
}
.derayahServices-FDiv-right-progress1 .progress {
  height: 5px;
  width: 80px;
  margin-top: 10px;
  margin-left: 5px;
  position: absolute;
  top: 2px;
  left: 3px;
}
.derayahServices-FDiv-right-progress1-progressBar {
  width: 70%;
  background-color: #0096C7;
}
.derayahServices-FDiv-right-progress2 {
  width: 120px;
  height: 25px;
  background-color: rgb(255, 255, 255);
  border-radius: 6px;
  position: absolute;
  top: 30px;
  right: 45%;
}
.derayahServices-FDiv-right-progress2 p {
  font-size: 9px;
  color: #0096C7;
  display: inline-block;
  margin-right: 3px;
}
.derayahServices-FDiv-right-progress2 .progress {
  height: 5px;
  width: 80px;
  text-align: right;
  margin-top: 10px;
  margin-left: 5px;
  position: absolute;
  top: 2px;
  left: 3px;
}
.derayahServices-FDiv-right-progress2-progressBar {
  width: 95%;
  background-color: #4371C3;
}

.newestInDerarah {
  width: 100%;
  height: 120%;
  background-color: #fcfcfc;
  position: relative;
  padding-top: 7%;
  padding-right: 15%;
  direction: rtl;
  text-align: right;
  margin: 0;
  padding-bottom: 5%;
}
.newestInDerarah-sideDiv {
  width: 7%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #3C0857;
}
.newestInDerarah p {
  font-size: 16px;
  color: #6c6b80;
  display: inline-block;
}
.newestInDerarah h1 {
  font-size: 48px;
  font-weight: bold;
}
.newestInDerarah h6 {
  font-size: 20px;
  color: #6c6b80;
  margin-top: 15px;
  margin-bottom: 25px;
}
.newestInDerarah-line {
  width: 40px;
  height: 1px;
  background-color: #A9AFC3;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 3px;
}
.newestInDerarah-CardImg {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.newestInDerarah-card p {
  font-size: 14px;
  color: #A9AFC3;
}
.newestInDerarah-card h5 {
  font-size: 22px;
}
.newestInDerarah-readMoreDiv {
  width: 80px;
  border-bottom: 1px solid #510B76;
}
.newestInDerarah-readMoreDiv span {
  font-size: 15px;
  color: #510B76;
}
.newestInDerarah-leftImg {
  width: 350px;
  height: 400px;
  background: url(../Images/leftImg.png);
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px;
  position: absolute;
  bottom: 15%;
}
.newestInDerarah-leftImg-footer {
  position: absolute;
  bottom: 10px;
  right: 20px;
}
.newestInDerarah-leftImg-footer h4 {
  font-size: 20px;
  color: rgb(255, 255, 255);
}

.footerSec {
  width: 100%;
  height: 60%;
  margin: 0;
  padding: 0;
  position: relative;
}
.footerSec-side {
  position: absolute;
  width: 7%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  margin: 0;
}
.footerSec-callUs {
  height: 100px;
  width: 60%;
  position: absolute;
  top: -50px;
  margin-left: 20%;
  background-color: #743c91;
  border-radius: 30px;
  z-index: 1;
  direction: rtl;
  padding: 25px 90px;
  color: rgb(255, 255, 255);
}
.footerSec-callUs i {
  color: #DFE0EC;
  font-size: 40px;
  transform: rotate(-40deg);
}
.footerSec-callUs p {
  font-size: 18px;
  font-weight: bold;
  color: #DFE0EC;
  margin-top: 5px;
  margin-right: 5px;
}
.footerSec-callUs h6 {
  font-size: 14px;
}
.footerSec-callUs h1 {
  font-size: 26px;
  font-weight: bold;
}
.footerSec-callUs-btn {
  width: 130px;
  height: 35px;
  background-color: #8958a1;
  border-radius: 10px;
  padding: 3px 7px;
}
.footerSec-callUs-btn h5 {
  font-size: 12px;
  display: inline-block;
}
.footerSec-callUs-btn i {
  font-size: 15px;
  color: rgb(255, 255, 255);
  transform: none;
  margin-right: 5px;
}
.footerSec-body {
  position: absolute;
  width: 93%;
  height: 100%;
  background-color: #2f164b;
  display: inline-block;
  margin: 0;
  direction: rtl;
  padding-top: 2%;
  padding-right: 10%;
  padding-left: 25%;
  color: rgb(255, 255, 255);
  padding-bottom: 26%;
}
.footerSec-body img {
  width: 65px;
  height: 55px;
}
.footerSec-body span {
  font-size: 9px;
}
.footerSec-body p {
  font-size: 15px;
  margin: 0;
  width: 100%;
}
.footerSec-body ul, .footerSec-body li {
  width: 140px;
}
.footerSec-body-header {
  font-size: 15px;
  color: #b99dc8;
}
.footerSec-body-copyright {
  border-top: 1px solid #b99dc8;
}
.footerSec-body-downloadImg {
  height: 30px;
  width: 100px;
  margin-top: 10px;
  background: url(../../Images/download1.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: inline-block;
}
.footerSec-body-downloadIm2 {
  height: 30px;
  width: 100px;
  margin-top: 10px;
  background: url(../../Images/download2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  display: inline-block;
}
.footerSec-body-input-group {
  direction: ltr;
  display: inline-block;
  margin-bottom: 10px;
}
.footerSec-body-footer-input {
  height: 40px;
  width: 200px;
  font-size: 12px;
  color: #c6c2ca;
  padding-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: right;
  border: none;
}
.footerSec-body-Sub-btn {
  width: 70px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: #552d81;
  border: none;
}
.footerSec-body-footer-icon {
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  background-color: #A9AFC3;
  display: inline-block;
  text-align: center;
  margin-left: 17px;
  padding-left: 5%;
}
.footerSec-body-footer-icon i {
  font-size: 16px;
  color: #242424;
}/*# sourceMappingURL=main.css.map */