$dark-color:#242424;
$secondry-color:#FAF9F9;
$background-color:rgba(255, 255, 255, 0.514);
$primary-color:#510B76;
$accent-purple:#3C0857;
$list-icon-color:#743c91;
$dark-purple:#20042f;
$light-color:rgb(255, 255, 255);
$menu-color:#F9F9FB;
$text-color:#16151A;
$rounded-button:#cfcfcfc5;
$side-menu-text:#A9AFC3;
$orange-color: #EE8122;
$GrayScale:#6c6b80;
$blue-color:#351855;
$dark-blue:#200A37;
$servicesSection-bgColor:#f9f6fd;
$servicesSection-bgColor2:#EEF5FA;
$servicesSection-bgColor3:#EFEDEB;
$SerSection-div1:#ededf4;
$progress-color:#0096C7;
$progress-color2:#4371C3;
$footer-text-color:#DFE0EC;
$callUsBtn-color:#8958a1;
$footerBg:#2f164b;
$footer-text:#b99dc8;
$footer-blacholder:#c6c2ca;
$sub-btn:#552d81;