.derayahServices {
  @include devices(tablet) {
    background: url(../Images/Frame.svg);
    background-size: 30%;
    background-position: left top;
    background-repeat: no-repeat;
    &-sideDiv {
      width: 7%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $accent-purple;
    }
    p {
      font-size: 16px;
    }
    h1 {
      font-size: 48px;
      font-weight: bold;
      padding: 0 33%;
    }
    h2{
      
        font-size: 34px;
        width: 280px;
        font-weight: bold;
    }
    h6 {
      font-size: 18px;
      padding: 0 35%;
    }
    &-FDiv {
      width: 470px;
      height: 230px;
      &-left {
        text-align: right;
        position: absolute;
        top: 10%;
        left: -25%;
        h5 {
          font-size: 12px;
          width: 250px;
        }
        &-chart {
          top: 0;
          left: 0;
        }
        &-chartWave {
          top: 130px;
          left: 20%;
        }
      &-exportDiv {
        top: 40px;
        left: 80%;
      }
      &-dollarSign {
        margin-top: 20%;
      }
      }
      &-right {
        text-align: right;
        position: absolute;
        top: 15%;
        right: -15%;
      }
    }
  }
   @include devices(mobile) {
    padding: 0 3%;
    padding-top: 3%;
    &-sideDiv {
      display: none;
    }
    p {
      font-size: 12px;
      font-weight: bold;
    }
    h1 {
      font-size: 40px;
      font-weight: 400;
      padding: 0 8%;
    }
    h2{
      font-size: 40px;
      font-weight: 400;
    }
    h6 {
      font-size: 16px;
      padding: 0 4%;
    }
    h5 {
      font-size: 14px;
      margin: auto;
    }
    &-FDiv {
      width: 95%;
      &-left {
        text-align: center;
        // position: absolute;
        &-chart {
          top: 13%;
          left: 2%;
        }
        &-chartWave {
          top: 180px;
          left: 25%;
        }
        &-exportDiv {
          top: 90px;
          left: 55%;
        }
        &-dollarSign {
          position: absolute;
          top: -25px;
          left: 45%;
        }
      }
      &-right {
        text-align: center;
        margin-top: 70%;
        margin-bottom: 10%;
        // position: absolute;
      }
    }
  }
  width: 100%;
  height: 185%;
  // background-color: $servicesSection-bgColor;
  text-align: center;
  direction: rtl;
  position: relative;
  padding-top: 5%;
  padding-bottom: 3%;

  
  &-line {
    height: 1px;
    width: 50px;
    background-color: $side-menu-text;
    margin: 5px 10px;
    display: inline-block;
  }
  p {
    color: $side-menu-text;
    display: inline-block;
  }
  
  h6 {
    color: $GrayScale;
    margin-top: 5px;
    margin-bottom: 40px;
  }
  &-FDiv {
    border-radius: 30px;
    margin: auto;
    margin-bottom: 40px;
    position: relative;

    &-bg1 {
      background-color: $SerSection-div1;
    }
    &-bg2 {
      background-color: $servicesSection-bgColor2;
    }
    &-bg3 {
      background-color: $servicesSection-bgColor3;
    }
    &-left {

      h1 {
        font-weight: bold;
        font-size: 32px;
        color: $blue-color;
        width: 250px;
      }
      h5 {
        color: $dark-blue;
      }
      p {
        font-size: 15px;
        color: $primary-color;
      }

      &-chart {
        width: 180px;
        height: 110px;
        background-color: $light-color;
        border-radius: 25px;
        position: absolute;
        img {
          width: 80%;
          margin-right: 10%;
          margin-top: 3%;
        }
      }
      &-chart3 {
        width: 210px;
        height: 110px;
        background-color: $light-color;
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        img {
          width: 98%;
          height: 80%;
          margin-top: 5%;
          margin-right: 1%;
        }
      }
      &-chartWave {
        width: 200px;
        height: 50px;
        background-color: $light-color;
        border-radius: 12%;
        position: absolute;
        img {
          width: 170px;
          height: 40px;
          margin-top: 5px;
          margin-right: 10px;
        }
      }
      &-chartLine{
        width: 150px;
        height: 50px;
        background-color: $light-color;
        border-radius: 20%;
        position: absolute;
        top: 130px;
        left: 7%;
        img{
            width: 130px;
            height: 40px;
            margin: 10px 3px;
        }
      }
      &-dots{
        width: 70px;
        height: 45px;
        background-color: $light-color;
        border-radius: 15px;
        position: absolute;
        top: 130px;
        left: 75%;
        img{
            width: 80%;
            height: 80%;
            margin-top: 10%;
            margin-right: 10%;
        }
      }
      &-exportDiv {
        width: 70px;
        height: 70px;
        border-radius: 25px;
        background-color: $light-color;
        position: absolute;
        img {
          width: 80%;
          margin-top: 10%;
          margin-right: 10%;
        }
      }
      &-dollarSign {
        width: 50px;
        height: 50px;
        border-radius: 15px;
        background-color: $light-color;
        i {
          color: $primary-color;
          margin-top: 15px;
        }
      }
    }

    &-right {

      h1 {
        font-weight: bold;
        font-size: 32px;
        color: $blue-color;
      }
      h5 {
        font-size: 12px;
        color: $dark-blue;
        width: 250px;
      }
      p {
        font-size: 15px;
        color: $primary-color;
      }
      &-chart {
        width: 180px;
        height: 110px;
        background-color: $light-color;
        border-radius: 25px;
        position: absolute;
        top: 60px;
        right: 0;
        img {
          width: 90%;
          margin-right: 5%;
          margin-top: 3%;
        }
      }
      &-Div2 {
        width: 75px;
        height: 70px;
        border-radius: 25px;
        background-color: $light-color;
        position: absolute;
        top: -15px;
        right: 10%;
        img {
          width: 80%;
          height: 80%;
          margin-top: 10%;
          margin-right: 10%;
        }
      }
      &-progress1{
        width: 120px;
        height: 25px;
        background-color: $light-color;
        border-radius: 6px;
        position: absolute;
        top: 0;
        right: 55%;
        p{
            font-size: 9px;
            color: $progress-color;
            display: inline;
            margin-right: 3px;
        }
        .progress{
            height: 5px;
            width: 80px;
            margin-top: 10px;
            margin-left: 5px;
            position: absolute;
            top: 2px;
            left: 3px;
        }
        &-progressBar{
            width: 70%;
            background-color: $progress-color;
        }
      }
      &-progress2{
        width: 120px;
        height: 25px;
        background-color: $light-color;
        border-radius: 6px;
        position: absolute;
        top: 30px;
        right: 45%;

        p{
            font-size: 9px;
            color: $progress-color;
            display: inline-block;
            margin-right: 3px;
        }
        .progress{
            height: 5px;
            width: 80px;
            text-align: right;
            margin-top: 10px;
            margin-left: 5px;
            position: absolute;
            top: 2px;
            left: 3px;
        }
        &-progressBar{
            width: 95%;
            background-color: $progress-color2;
        }
      }
    }
  }
}
