.investFund{
    @include devices(tablet) {
        direction: rtl;
        &-right{
            padding-right: 15%;
        padding-top: 3%;
        
            &-side{
                height: 100%;
                width: 80px;
                background-color: $accent-purple;
                position: absolute;
                top: 0;
                right: 0;
            }
            &-list{
                width: 480px;
                height: 60px;
                border-radius: 7px;
                padding-top: 2%;
                padding-right: 3%;
                color: $light-color;
                margin-top: 10px;
    
                &-icon{
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                    background-color: $list-icon-color;
                    display: inline-block;
                }
    
                span{
                    font-size: 24px;
                    font-weight: bold;
                    padding-bottom: 10px;
                    margin-left: 5px;
                }
                i{
                    color: $dark-color;
                    margin-top: 10px;
                    margin-right: 10px;
                }
            }
            &-list.active{
                background-color: $light-color;
                color: $list-icon-color;
            }
            h6{
                font-size: 44px;
                font-weight: bold;
            }
            p{
                font-size: 14px;
                display: inline-block;
            }
        }
        &-left{
           
            padding-top: 5%;
            padding-right: 2%;
    
            h6{
                font-size: 34px;
            }
            p{
                font-size: 14px;
            }
            &-print{
                width: 320px;
                height: 200px;
                margin-top: 20px;
            }
            &-divlight{
                position: absolute;
                bottom: 10px;
                background: $light-color;
                opacity: .97;
                z-index: 1;
                width: 315px;
                height: 150px;
            }
           
            &-text{
                margin-top: 45%;
                margin-right: 2px;
                font-size: 16px;
                font-weight: 500;
            }
            h5{
                font-size: 32px;
                font-weight: 500;
                margin-top: 5%;
                margin-right: 10px;
            }
            &-play{
                top: 62%;
                right: 54%;
            }
            
        }
    }
     @include devices(mobile) {
        background-color: $primary-color;
        &-right{
            padding-right: 7%;
            padding-top: 5%;
        
            &-side{
                display: none;
            }
            &-list{
                display: none;
            }
            h6{
                font-size: 38px;
                font-weight: 500;
            }
            p{
                font-size: 16px;
                display: inline-block;
            }

        }
        &-left{
            padding-top: 5%;
            padding-right: 10%;
            padding-bottom: 10%;
            width: 90%;
            background-color: $light-color;
            margin-left: 5%;
            margin-bottom: 10%;
            border-radius: 40px;
    
            h6{
                font-size: 28px;
            }
            p{
                font-size: 12px;
            }
            &-print{
                width: 260px;
                height: 200px;
                margin-top: 20px;
            }
            &-divlight{
                display: none;
            }
           
            &-text{
                display: none;
            }
            &-faded{
                display: none;
            }
            &-play{
                top: 85%;
                right: 43%;
            }
        }
    }
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
    &-left{
        position: relative;
        text-align: right;
        direction: rtl;

        h6{
            font-weight: 500;
            margin-bottom: 20px;
        }
        p{
            font-weight: 500;
            // margin: 30px 0;
        }
        
        &-play{
            width: 50px;
            height: 50px;
            display: inline;
            position: absolute;
        }
    }

    &-right{
        position: relative;
        background-color: $primary-color;
        text-align: right;
        direction: rtl;
        color: $light-color;
        
        
        &-line{
            display: inline-block;
            height: 1px;
            width: 50px;
            background-color: $light-color;
            margin-right: 10px;
            margin-bottom: 5px;
        }
        
    }
    &-btnPlay{
        width: 30px;
        height: 30px;
        position: absolute;
        z-index: 1;
        // margin-top: 90%;
        // margin-right: 47%;
        border-radius: 15px;
        background-color: $orange-color;
        box-shadow: 0 0 0 5px #d89267;

        i{
            font-size: 15px;
            color: $light-color;
            margin-right:15%;
            margin-top: 30%;
        }
    }
}