.topMenu {
  @include devices(tablet) {
    margin: 0;
    padding: 0;
    height: 90px;
    background-color: $menu-color;
    width: 95%;
    direction: rtl;
    font-size: 18px;
    font-weight: bold;
    color: $text-color;
    &__text {
      margin-left: 10px;
    }
    &-brand{
      width: 80px;
      height: 60px;
    }
  }

  @include devices(mobile) {
    display: none;
  }
}
