.sidenav {
    @include devices(tablet) {
        display: none;
    }
     @include devices(mobile) {
        height: 100%; 
        width: 0;
        position: fixed; 
        z-index: 1; 
        top: 0; 
        left: 0;
        background-color: $menu-color; 
        overflow-x: hidden; 
        transition: 0.5s; 
        direction: rtl;
        padding-top: 5%;

        input{
            width: 85%;
            border: none;
            display: inline;
        }
        &-inputDix{
            border: 1px solid $secondry-color;
            background-color: $light-color;
            border-radius: 10px;
            padding: 5px 5px;
            margin-top: 10px;
        }
        
    }
   
}
  