@mixin devices ($breakpoint) { //the name of the mixin is devices
  
    @if $breakpoint == tablet {    
    @media only screen and (min-width: 482px) {
      @content;
    }
  }
 
  @if $breakpoint == mobile {
    @media only screen and (max-width: 481px) {
      @content;
    }
  }
}
@font-face {
    font-family: "TheMixArabic";
    src: url(../../font/TheMixArabic/TheMixArabic-Light.eot);
    src: url(../../font/TheMixArabic/TheMixArabic-Light.woff) format(".woff"),
    url(../../font/TheMixArabic/TheMixArabic-Light.otf) format(".opentype"),
    url(../../font/TheMixArabic/TheMixArabic-Light.svg) format(".svg");
    
}
@font-face {
    font-family: "TheMixArabic";
    src: url(../../font/TheMixArabic/TheMixArabic-Bold.eot);
    src: url(../../font/TheMixArabic/TheMixArabic-Bold.woff) format(".woff"),
    url(../../font/TheMixArabic/TheMixArabic-Bold.otf) format(".opentype"),
    url(../../font/TheMixArabic/TheMixArabic-Bold.svg) format(".svg");
    font-weight: bold;
}

*{
    margin: 0;
    padding: 0;
    // font-family: 'TheMixArabic';
}

html,body{
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: $light-color;
}
.ORG{
    color: $orange-color;
}
.rel{
    position: relative;

}
.rot{
    transform: rotate(270deg);
    display: inline-block;
}
.col-xs{
  width: 100%;
}