@font-face {
    font-family: TheMixArabic;
    src: url(../../font/TheMixArabic/TheMixArabic/TheMixArabic-Plain.woff2) format(".woff2");
}

*{
    margin: 0;
    padding: 0;
    font-family: TheMixArabic;
}

body{
    margin: 0;
    padding: 0;
    background-color: $light-color;
}
.ORG{
    color: $orange-color;
}
.rel{
    position: relative;

}
.rot{
    transform: rotate(270deg);
    display: inline-block;
}